{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "filenameRelative": "./log/babel.error",
  "env": {
    "production": {
      "sourceMaps": false,
      "minified": true,
      "comments": true,
      "compact": true,
      "ignore": [
        "*.spec.js"
      ]
    },
    "development": {
      "sourceMaps": "inline",
      "minified": false,
      "comments": true,
    }
  }
}
